


/* Do Space social medi icons color! */
body {
    margin: 0  5px;
    padding: 0 5px; 
}


.top-div-title {
    background-color: #003865;
}


.top-2nddiv-title {
    background-color: #59cbe8;
    
}

hr {
	border-top: 1px dashed #8c8b8b;
}


.container {
    max-width: 960px;
    margin: 0 0px;
    padding: 0 10px;
}

.top-div-box {
    margin: 0;
    padding: 10px 0;
}

.first-title-box {
    margin: 0px;
    padding: 5px 0;
    margin-top: 11px;
    margin-bottom: 20px;
}

.iconlist li {
    display: inline;
    margin-right: 3px;
}

.paragraph {
    font-family: "Times New Roman", Times, serif;
}


/* Do Space social medi icons color! */
#fb,
#tr,
#fr,
#yt
{
    color: #dc582a;
}

/* Do Space social medi icons mouse over color! */
#fb:hover,
#tr:hover,
#fr:hover,
#yt:hover
{
color: #b5bd00;
}

/* Do Space social medi icons color! */
.top-2nddiv-title-links {
    float: right;
    color: #003865;
    font-family: "Times New Roman", Times, serif;
    margin-top: 5px;
    margin-left: 5px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 12px;


}

.top-2nddiv-title-links:hover {
    color: #ffffff);
}

#logo,
#slogan,
#slogan2
{
        font-family: "Times New Roman", Times, serif;
        color: #ffffff;
        list-style: none;
        font-weight: 100;


}


#logo {
    font-size: 16px;
    font-weight: bold;
}
#slogan {
    font-size: 14px;
}

#slogan2 {
    font-size: 12px;
}

#first-title-text {
    color: #003865;
    font-family: "Times New Roman", Times, serif;
    font-weight: 100;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p
{
    color: #003865;
    font-weight: 700;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;


p {
    font-weight: 100;
    font-size: 13px;
}